/* 
 * quicktable.less 
 * 
 * Copyright 2014-2015 Grigoriy Kramarenko <root@rosix.ru>
 *
 * This file is part of QuickAPI.
 *
 * QuickAPI is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * QuickAPI is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with QuickAPI. If not, see
 * <http://www.gnu.org/licenses/>.
 * 
 */
.table-col-1-hidden th:nth-child(1),
.table-col-1-hidden td:nth-child(1) {
  display: none;
}
.table-col-2-hidden th:nth-child(2),
.table-col-2-hidden td:nth-child(2) {
  display: none;
}
.table-col-3-hidden th:nth-child(3),
.table-col-3-hidden td:nth-child(3) {
  display: none;
}
.table-col-4-hidden th:nth-child(4),
.table-col-4-hidden td:nth-child(4) {
  display: none;
}
.table-col-5-hidden th:nth-child(5),
.table-col-5-hidden td:nth-child(5) {
  display: none;
}
.table-col-6-hidden th:nth-child(6),
.table-col-6-hidden td:nth-child(6) {
  display: none;
}
.table-col-7-hidden th:nth-child(7),
.table-col-7-hidden td:nth-child(7) {
  display: none;
}
.table-col-8-hidden th:nth-child(8),
.table-col-8-hidden td:nth-child(8) {
  display: none;
}
.table-col-9-hidden th:nth-child(9),
.table-col-9-hidden td:nth-child(9) {
  display: none;
}
.table-col-10-hidden th:nth-child(10),
.table-col-10-hidden td:nth-child(10) {
  display: none;
}
.table-col-11-hidden th:nth-child(11),
.table-col-11-hidden td:nth-child(11) {
  display: none;
}
.table-col-12-hidden th:nth-child(12),
.table-col-12-hidden td:nth-child(12) {
  display: none;
}
.table-col-13-hidden th:nth-child(13),
.table-col-13-hidden td:nth-child(13) {
  display: none;
}
.table-col-14-hidden th:nth-child(14),
.table-col-14-hidden td:nth-child(14) {
  display: none;
}
.table-col-15-hidden th:nth-child(15),
.table-col-15-hidden td:nth-child(15) {
  display: none;
}
.table-col-16-hidden th:nth-child(16),
.table-col-16-hidden td:nth-child(16) {
  display: none;
}
.table-col-17-hidden th:nth-child(17),
.table-col-17-hidden td:nth-child(17) {
  display: none;
}
.table-col-18-hidden th:nth-child(18),
.table-col-18-hidden td:nth-child(18) {
  display: none;
}
.table-col-19-hidden th:nth-child(19),
.table-col-19-hidden td:nth-child(19) {
  display: none;
}
.table-col-20-hidden th:nth-child(20),
.table-col-20-hidden td:nth-child(20) {
  display: none;
}
.table-col-21-hidden th:nth-child(21),
.table-col-21-hidden td:nth-child(21) {
  display: none;
}
.table-col-22-hidden th:nth-child(22),
.table-col-22-hidden td:nth-child(22) {
  display: none;
}
.table-col-23-hidden th:nth-child(23),
.table-col-23-hidden td:nth-child(23) {
  display: none;
}
.table-col-24-hidden th:nth-child(24),
.table-col-24-hidden td:nth-child(24) {
  display: none;
}
.table-col-25-hidden th:nth-child(25),
.table-col-25-hidden td:nth-child(25) {
  display: none;
}
.table-col-26-hidden th:nth-child(26),
.table-col-26-hidden td:nth-child(26) {
  display: none;
}
.table-col-27-hidden th:nth-child(27),
.table-col-27-hidden td:nth-child(27) {
  display: none;
}
.table-col-28-hidden th:nth-child(28),
.table-col-28-hidden td:nth-child(28) {
  display: none;
}
.table-col-29-hidden th:nth-child(29),
.table-col-29-hidden td:nth-child(29) {
  display: none;
}
.table-col-30-hidden th:nth-child(30),
.table-col-30-hidden td:nth-child(30) {
  display: none;
}
/*
 * Sorting
 */
th.sorting {
  cursor: pointer;
  background: url('../img/tables/sort_both.png') no-repeat center right;
}
th.sorting-asc {
  cursor: pointer;
  background: url('../img/tables/sort_asc.png') no-repeat center right;
}
th.sorting-desc {
  cursor: pointer;
  background: url('../img/tables/sort_desc.png') no-repeat center right;
}
th.sorting-n0 {
  background-color: #FFE6E6;
}
th.sorting-n1 {
  background-color: #FFF9E6;
}
th.sorting-n2 {
  background-color: #F3FFE6;
}
th.sorting-n3 {
  background-color: #E6FFED;
}
th.sorting-n4 {
  background-color: #E6FFFF;
}
