/* 
 * components.css
 * 
 */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 120px;
}
body > .container {
    margin-top: 20px;
}
.navbar-brand > img {
    display: inline;
}
.navbar-brand.active {
    color: #fff;
}

.backtop {
    position: fixed;
    bottom: 37px;
    right: 20px;
    z-index: 10;
    display: block;
}
.backtop > a {
    padding: 10px;
    background-color: rgba(0,0,0,.06);
}
.backtop > a:hover {
    background-color: #500000;
    color: #fff;
}

/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 99px;
    background-color: #f5f5f5;
}
.footer>div {
    background-color: #f5f5f5;
}
.footer-content {
    padding: 10px 0px;
}

/* SIDEBAR */

#sidebar {
    position: fixed; top: 0px;
}
#sidebar hr {
    margin: 8px;
}
.sidebar-brand {
    font-size: large;
    height: 55px;
    padding-top: 5px;
    padding-bottom: 15px;
    overflow-y: hidden;
}
.sidebar-nav li > a {
    padding: 1px 8px;
}
.sidebar-nav .nav {
    padding-bottom: 10px;
/*
    display: none; 
*/
}
.sidebar-nav .nav li > a {
    padding-left: 18px;
}
.sidebar-nav .nav li:first-child {
    margin-top: 2px;
}
.sidebar-nav>li.active .fa-plus-square-o {
    display: none;
}
.nav-pills>li.method-name.active>a,
.nav-pills>li.method-name.active>a:focus,
.nav-pills>li.method-name.active>a:hover {
    color: #fff;
    background-color: #d9534f;
}

/*
@media (min-width: 992px) {
    .sidebar-nav>.active>ul { display: block; }
}
*/

