{% load i18n %}
<!-- This template is deprecated -->
<div class="alert alert-danger">{% trans 'This template "quickapi/_docs.html" is deprecated!' %}</div>
<div>
    <legend>Запросы</legend>
    <i>Пераметры запросов могут передаваться в едином JSON-объекте посредством POST:</i>
<pre>
jsonData = {
        'method': &lt;method_name&gt;,
        'kwargs': { 'key': &lt;param1&gt;, 'key2': &lt;param2&gt;,
                    'key3': [ &lt;param3_1&gt;, &lt;param3_2&gt;, &lt;param3_3&gt; ],
                    ... },
        'username': &lt;login_name&gt;,
        'password': &lt;password&gt;,
}</pre>
<i>Либо они передаются непосредственно в POST запросе, причём параметры 
авторизации везде необязательны.</i>
<i>Пример* для jQuery:</i>
<pre>
$.post('/api/', {
        'method': &lt;method_name&gt;,
        'key': &lt;param1&gt;, 'key2': &lt;param2&gt;,
        'key3': [ &lt;param3_1&gt;, &lt;param3_2&gt;, &lt;param3_3&gt; ]
}, function() {});</pre>
<i>Ключ "key3" в этом случае jQuery автоматически изменит на "key3[]".<br>
* В данном варианте можно передавать только списки и простые значения.<br>
Пример** для jQuery:</i>
<pre>
$.post('/api/',
    { jsonData: JSON.stringify({
        'method': &lt;method_name&gt;,
        'kwargs': { 'key': &lt;param1&gt;, 'key2': &lt;param2&gt;,
                    'key3': [ &lt;param3_1&gt;, &lt;param3_2&gt;, &lt;param3_3&gt; ],
                    ... },
        })
    }, function() {});</pre>
<i>Для правильной сериализации дат в JSON лучше использовать специальный
<a href="http://code.google.com/p/jquery-json/">плагин jQuery</a>.<br>
** В данном варианте можно передавать любые сериализуемые объекты.</i>
<hr>
<i>Пример в Python с HTTP Basic авторизацией:</i>
<pre>
import urllib2, urllib, json, base64
url = 'https://{{ request.get_host|default:'localhost' }}/api/'
data = {'method':"get_orders_id", 'kwargs':{'date':'2012-01-01', 'state': 4 },}
data = urllib.urlencode({'jsonData':json.dumps(data)})
req = urllib2.Request(url, data=data,
    headers={
        'Authorization': 'Basic ' + base64.b64encode('%s:%s' % ('login', 'passwd'))
    }
)
r = urllib2.urlopen(req)
print r.read()</pre>
<hr>
<i>Пример в Python без использования HTTP авторизации:</i>
<pre>
import urllib2, urllib, json
url = 'https://{{ request.get_host|default:'localhost' }}/api/'
data = {'username':'login','password':'passwd','method':"get_orders_id", 'kwargs':{'date': '2012-01-01', 'state':2 }, }
data = urllib.urlencode({'jsonData':json.dumps(data)})
r = urllib2.urlopen(url, data=data)
print r.read()</pre>
</div>
<hr>
<div>
    <legend>Общая структура ответов</legend>
<pre>
JSON_object = {
    'status': 200, // коды HTTP, имеющие смысл.
    'message': 'Строчное сообщение для пользователя',
    'data': &lt;Вложенный объект JSON&gt;,
}</pre>
<i>Тип и структура вложенного объекта зависят от вызываемого метода (см. документацию ниже).</i>
</div>
<hr>
<div id="quickapi-docs">
    <legend>Документация по методам и их параметрам</legend>
    <table class="table table-condensed table-bordered table-striped">
        <tr>
            <th>№</th>
            <th>Название метода</th>
            <th>Описание использования</th>
        </tr>
    {% for m in methods|dictsort:"name" %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><p><strong>{{ m.name }}</strong></p></td>
            <td>{{ m.doc|safe }}</td>
        </tr>
    {% endfor %}
    </table>
</div>

