{% load i18n quickapi %}

<div id="methods">
    <legend><h1>{% trans 'Methods' %}</h1></legend>

    {% if test_method_doc %}
        <div id="method-quickapitest" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">quickapi.test</h3>
            </div>
            <div class="panel-body">
                {{ test_method_doc|formatdoc|safe }}
            </div>
        </div>
    {% endif %}

    {% for m in methods %}
        <div id="method-{{ m.name|slugify }}" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ m.name }}</h3>
            </div>
            <div class="panel-body">
                {{ m.doc|formatdoc|safe }}
            </div>
        </div>
    {% endfor %}
</div>

