{% load i18n l10n quickapi %}

<div id="methods">
    <legend><h1>{% trans 'Methods' %}</h1></legend>
    <table class="table table-condensed table-bordered table-striped">
        <tr>
            <th>{% trans 'Method name' %}</th>
            <th>{% trans 'Description for use' %}</th>
        </tr>
    {% if test_method_doc %}
        <tr id="method-quickapitest">
            <td><p><strong>quickapi.test</strong></p></td>
            <td>{{ test_method_doc|formatdoc|safe }}</td>
        </tr>
    {% endif %}
    {% for m in methods %}
        <tr id="method-{{ m.name|slugify }}">
            <td><p><strong>{{ m.name }}</strong></p></td>
            <td>{{ m.doc|formatdoc|safe }}</td>
        </tr>
    {% endfor %}
    </table>
</div>

