{% comment %}<!--
 
    Copyright 2012-2015 Grigoriy Kramarenko <root@rosix.ru>

    This file is part of QuickAPI.

    QuickAPI is free software: you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public License
    as published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    QuickAPI is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public
    License along with QuickAPI. If not, see
    <http://www.gnu.org/licenses/>.
-->
{% endcomment %}{% load i18n quickapi_base %}

<div id="requests">

    <legend><h1>{% trans 'Requests' %}</h1></legend>


    <h2 id="requests-auth">{% trans 'Authentication' %}
        <small>
            <a href="#requests-auth" class="paragraph">
                <i class="fa fa-paragraph"></i>
            </a>
        </small>
    </h2>

        <p>{% trans 'When developing a Django-app for browser you can not think about it.' %}
           {% trans 'Authentication will occur on the session key as it usually works in' %}
           <a target="_blank" href="https://docs.djangoproject.com/en/dev/topics/http/sessions/">Django</a>.</p>
        
        <p>{% trans 'Authorized access to the execute methods from third-party applications and scripts is carried out according to the following rules.' %}</p>
        
        <ul>
            <li>{% trans 'Accepted Basic-authorization in the <code>Authorization</code> header inside <code>POST</code> or <code>GET</code> requests.' %}</li>
            <li>{% trans 'Accepted normal authorization <b>only</b> inside <code>POST</code> requests.' %}</li>
            <li>{% trans 'After the first successful response from the server, the credentials are not required if the client supports <code>cookies</code>.' %}</li>
        </ul>

        <p>{% trans 'Normal authorization - is the transmission in the clear parameters <code>username</code> and <code>password</code> directly inside the <code>POST</code> request or inside <code>jsonData</code>.' %}</p>

    <h2 id="requests-scheme">{% trans 'Structure of requests' %}
        <small>
            <a href="#requests-scheme" class="paragraph">
                <i class="fa fa-paragraph"></i>
            </a>
        </small>
    </h2>

    <p>{% trans 'Any request should be is mandatory key <code>method</code> and optional <code>language</code>.' %}</p>
    <p>{% trans 'In <code>POST</code> request can additionally be keys:' %}<code>username</code>, <code>password</code>.</p>
    <p>{% trans 'Other keys are regarded as parameters of the method.' %}</p>
    <p>{% trans 'When using difficult-structured parameters, all keys except the <code>language</code>, must be packed in one <code>jsonData</code> (JSON encoded as ' %}
        <a target="_blank" href="http://www.w3schools.com/tags/ref_urlencode.asp">URL Encoding</a>).
        {% trans 'This only works with <code>POST</code> requests.' %}
        </p>
    <p>{% trans 'For transfer of reserved names <code>username</code>, <code>password</code> and <code>language</code> in the role of parameters for the method, you must wrap all the parameters in the key <code>kwargs</code> inside <code>jsonData</code>.' %}</p>


<div id="requests-scheme-code" class="highlight">
<pre>
<span class="c">### GET ###</span>
curl <span class="s2">&quot;{{ api_url }}?method=quickapi.test&quot;</span>
curl <span class="s2">&quot;{{ api_url }}?method=quickapi.test&amp;code=302&amp;redirect=/login/&quot;</span>
curl <span class="s2">&quot;{{ api_url }}?method=quickapi.test&amp;language=ru&quot;</span>

<span class="c">### POST ###</span>
curl <span class="s2">&quot;{{ api_url }}&quot;</span> -d <span class="s2">&quot;method=quickapi.test&amp;language=en&quot;</span>
curl <span class="s2">&quot;{{ api_url }}&quot;</span> -d <span class="s2">&quot;method=quickapi.test&amp;username=test&amp;password=test&quot;</span>

<span class="c">### POST + JSON ###</span>
curl <span class="s2">&quot;{{ api_url }}&quot;</span> -d <span class="s2">&quot;jsonData=%7B%22method%22%3A%22quickapi.test%22%2C%22kwargs%22%3A%7B%22code%22%3A301%7D%7D&quot;</span>
curl <span class="s2">&quot;{{ api_url }}&quot;</span> -d <span class="s2">&quot;jsonData=%7B%22method%22%3A%22quickapi.test%22%2C%22kwargs%22%3A%7B%22code%22%3A301%7D%7D&amp;language=en&quot;</span>
</pre>
</div>


    <h2 id="requests-use">{% trans 'Usage ready clients' %}
        <small>
            <a href="#requests-use" class="paragraph">
                <i class="fa fa-paragraph"></i>
            </a>
        </small>
    </h2>

    <h3 id="requests-use-jquery">jQuery
        <small>
            <a href="#requests-use-jquery" class="paragraph">
                <i class="fa fa-paragraph"></i>
            </a>
        </small>
    </h3>

<div class="highlight">
<pre><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">&quot;/static/quickapi/{% get_version "quickapi" %}/js/jquery.quickapi.min.js&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script&gt;</span>
<span class="c1">// {% trans 'returns quickapi.test on /api/' %}</span>
<span class="nx">$</span><span class="p">.</span><span class="nx">quickAPI</span><span class="p">();</span>

<span class="c1">// {% trans 'advanced usage' %}</span>
<span class="nx">$</span><span class="p">.</span><span class="nx">quickAPI</span><span class="p">({</span>
    <span class="nx">url</span><span class="o">:</span> <span class="s2">&quot;/api/&quot;</span><span class="p">,</span> 
    <span class="nx">data</span><span class="o">:</span> <span class="p">{</span>
        <span class="nx">method</span><span class="o">:</span> <span class="s2">&quot;quickapi.test&quot;</span><span class="p">,</span>
        <span class="nx">kwargs</span><span class="o">:</span> <span class="p">{</span> <span class="nx">code</span><span class="o">:</span> <span class="mi">200</span><span class="p">},</span>
    <span class="p">},</span>
    <span class="nx">type</span><span class="o">:</span> <span class="s2">&quot;GET&quot;</span><span class="p">,</span>    <span class="c1">// `POST` {% trans 'by default' %}</span>
    <span class="nx">async</span><span class="o">:</span> <span class="kc">false</span><span class="p">,</span>   <span class="c1">// `true` {% trans 'by default' %}</span>
    <span class="nx">timeout</span><span class="o">:</span> <span class="mi">1000</span><span class="p">,</span>  <span class="c1">// `3000` {% trans 'by default' %}</span>
    <span class="nx">language</span><span class="o">:</span> <span class="s1">&#39;ru&#39;</span><span class="p">,</span> <span class="c1">// `window.LANGUAGE_CODE` {% trans 'by default' %}</span>
    <span class="nx">simple_request</span><span class="o">:</span> <span class="kc">true</span> <span class="c1">// {% trans 'by default returns jsonData' %}</span>
    <span class="nx">callback</span><span class="o">:</span> <span class="kd">function</span><span class="p">(</span><span class="nx">json</span><span class="p">,</span> <span class="nx">status</span><span class="p">,</span> <span class="nx">xhr</span><span class="p">)</span> <span class="p">{},</span>
    <span class="nx">handlerShowAlert</span><span class="o">:</span> <span class="kd">function</span><span class="p">(</span><span class="nx">head</span><span class="p">,</span> <span class="nx">msg</span><span class="p">,</span> <span class="nx">cls</span><span class="p">,</span> <span class="nx">cb</span><span class="p">)</span> <span class="p">{},</span>
<span class="p">})</span>
<span class="nt">&lt;/script&gt;</span>
</pre>
</div>

    <h3 id="requests-use-python">Python
        <small>
            <a href="#requests-use-python" class="paragraph">
                <i class="fa fa-paragraph"></i>
            </a>
        </small>
    </h3>

<div class="highlight"><pre><span class="kn">from</span> <span class="nn">quickapi.client</span> <span class="kn">import</span> <span class="n">BaseClient</span>

<span class="n">kw</span> <span class="o">=</span> <span class="p">{</span>
    <span class="s">&#39;url&#39;</span><span class="p">:</span> <span class="s">&#39;{{ api_url }}&#39;</span><span class="p">,</span>
    <span class="c"># {% trans 'You can set all important parameters:' %}</span>
    <span class="c"># `username`, `password`, `timeout`, `cookie_filename`...</span>
<span class="p">}</span>

<span class="c"># {% trans 'One instance for all called methods' %}</span>
<span class="n">api</span> <span class="o">=</span> <span class="n">BaseClient</span><span class="p">(</span><span class="o">**</span><span class="n">kw</span><span class="p">)</span>

<span class="c"># {% trans 'Turn on the output response headers' %}</span>
<span class="n">api</span><span class="o">.</span><span class="n">print_info</span> <span class="o">=</span> <span class="bp">True</span>

<span class="c"># {% trans 'Not an authorized user' %}</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">api</span><span class="o">.</span><span class="n">method</span><span class="p">(</span><span class="s">&#39;quickapi.test&#39;</span><span class="p">)</span>

<span class="c"># {% trans 'Installation file with cookies' %}</span>
<span class="n">api</span><span class="o">.</span><span class="n">set_cookiejar</span><span class="p">(</span><span class="s">&#39;cookies.txt&#39;</span><span class="p">)</span>

<span class="n">api</span><span class="o">.</span><span class="n">username</span> <span class="o">=</span> <span class="s">&#39;login&#39;</span>
<span class="n">api</span><span class="o">.</span><span class="n">password</span> <span class="o">=</span> <span class="s">&#39;passw&#39;</span>

<span class="c"># {% trans 'You can enable Basic authorization' %}</span>
<span class="n">api</span><span class="o">.</span><span class="n">use_basic_auth</span> <span class="o">=</span> <span class="bp">True</span>

<span class="c"># {% trans 'The attempted user authorization' %}</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">api</span><span class="o">.</span><span class="n">method</span><span class="p">(</span><span class="s">&#39;quickapi.test&#39;</span><span class="p">)</span>

<span class="c"># {% trans 'Further authentication will take place with the help of cookies, and the data is better to hide' %}</span>
<span class="n">api</span><span class="o">.</span><span class="n">username</span> <span class="o">=</span> <span class="bp">None</span>
<span class="n">api</span><span class="o">.</span><span class="n">password</span> <span class="o">=</span> <span class="bp">None</span>

<span class="n">data</span> <span class="o">=</span> <span class="n">api</span><span class="o">.</span><span class="n">method</span><span class="p">(</span><span class="s">&#39;quickapi.test&#39;</span><span class="p">,</span> <span class="n">code</span><span class="o">=</span><span class="mi">200</span><span class="p">)</span>

<span class="c"># {% trans 'Test call failures' %}</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">api</span><span class="o">.</span><span class="n">method</span><span class="p">(</span><span class="s">&#39;quickapi.test&#39;</span><span class="p">,</span> <span class="n">code</span><span class="o">=</span><span class="mi">302</span><span class="p">)</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">api</span><span class="o">.</span><span class="n">method</span><span class="p">(</span><span class="s">&#39;quickapi.test&#39;</span><span class="p">,</span> <span class="n">code</span><span class="o">=</span><span class="mi">400</span><span class="p">)</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">api</span><span class="o">.</span><span class="n">method</span><span class="p">(</span><span class="s">&#39;quickapi.test&#39;</span><span class="p">,</span> <span class="n">code</span><span class="o">=</span><span class="mi">401</span><span class="p">)</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">api</span><span class="o">.</span><span class="n">method</span><span class="p">(</span><span class="s">&#39;quickapi.test&#39;</span><span class="p">,</span> <span class="n">code</span><span class="o">=</span><span class="mi">500</span><span class="p">)</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">api</span><span class="o">.</span><span class="n">method</span><span class="p">(</span><span class="s">&#39;quickapi.test&#39;</span><span class="p">,</span> <span class="n">bugparam</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span>
<span class="n">data</span> <span class="o">=</span> <span class="n">api</span><span class="o">.</span><span class="n">method</span><span class="p">(</span><span class="s">&#39;bug.method.name&#39;</span><span class="p">,</span> <span class="n">code</span><span class="o">=</span><span class="mi">200</span><span class="p">)</span>
</pre></div>


</div>
