{% load i18n l10n quickapi %}{% load url from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"ru" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% trans 'API documentation' %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- START: block style -->
    {% block style %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap/3.1.1/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap/3.1.1/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pygments/1.5/pygments.css">

    <style type="text/css">
        #requests, #responses, #methods {
            padding-top: 70px;
        }
        code {
            display: block;
            white-space: pre-wrap;
        }
    </style>
    {% endblock %}
    <!-- END: block style -->

    <!-- START: block extrastyle -->
    {% block extrastyle %}{% endblock %}
    <!-- END: block extrastyle -->
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- START: block navbar -->
    {% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" title="Django QuickAPI Documentation">
                    <img width="24" height="24" src="{{ STATIC_URL }}img/quickapi/logo.png"/>
                    {% block navbar_brand %}{% trans 'API documentation' %}{% endblock %}
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#requests"><i class="fa fa-arrow-up fa-lg"></i> {% trans 'Requests' %}</a></li>
                    <li><a href="#responses"><i class="fa fa-arrow-down fa-lg"></i> {% trans 'Responses' %}</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-retweet fa-lg"></i> {% trans 'Methods' %} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" style="max-height:300px;overflow-y:auto;">
                            <li><a href="#methods">{% trans 'All methods' %}</a></li>
                            <li class="divider"></li>
                        {% if test_method_doc %}
                            <li><a href="#method-quickapitest">quickapi.test</a></li>
                        {% endif %}
                        {% for m in methods %}
                            <li><a href="#method-{{ m.name|slugify }}">{{ m.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% block navbar_project %}<li>
                        <a href="{% block navbar_project_url %}/{% endblock %}">
                            {% block navbar_project_label %}
                            <i class="fa fa-home fa-lg"></i> {% trans 'Project' %}
                            {% endblock %}
                        </a>
                    </li>{% endblock %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    {% endblock %}
    <!-- END: block navbar -->

    <!-- START: block container -->
    {% block container %}
    <div class="container">
        <!-- START: block content -->
        {% block content %}
            <!-- START: block requests -->
            {% block requests %}
                {% include "quickapi/_requests.html" %}
            {% endblock %}
            <!-- END: block requests -->

            <!-- START: block responses -->
            {% block responses %}
                {% include "quickapi/_responses.html" %}
            {% endblock %}
            <!-- END: block responses -->

            <!-- START: block methods -->
            {% block methods %}
                {% include "quickapi/_methods.html" %}
            {% endblock %}
            <!-- END: block requests -->
        {% endblock %}
        <!-- END: block content -->
    </div><!-- /.container -->
    {% endblock %}
    <!-- END: block container -->

    <!-- START: block js -->
    {% block js %}
    <script src="{{ STATIC_URL}}js/jquery/2.1.0/jquery.min.js"></script>
    <script src="{{ STATIC_URL}}js/jquery/json/2.4/jquery.json.min.js"></script>
    <script src="{{ STATIC_URL}}js/jquery/quickapi/2.0/jquery.quickapi.min.js"></script>
    <script src="{{ STATIC_URL}}js/bootstrap/3.1.1/bootstrap.min.js"></script>
    
    {% endblock %}

    <!-- START: block extrajs -->
    {% block extrajs %}{% endblock %}
    <!-- END: block extrajs -->

</body>
</html>
